body {
	background-color: rgb(250, 243, 237);
	line-height: 200%;
}

legend {
	text-align: center;
	font-family: 'Source Sans Pro';
	font-size: 150%;
	font-weight: bold;
	color: #4f4f4f;
}

.error {
	color: red;
	float: left;
}

input, select {
	font-family: 'Source Sans Pro';
	border: 3px solid #80b3ff;
	width: 96%;
	padding-left: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
}

input:focus, select:focus {
	border: 3px solid #8585e0;
}

select {
	width: 100%;
}

.check {
	width:10%;
}

#form_img {
	color: transparent;
	font-size: 0;
	vertical-align: middle;
	width: 100%;
	height: 25%;
}

#form_container {
	position: relative;
	margin: 0 25% 0 25%;
	width: 45%;
	box-shadow: 1px 0 11px rgba(50, 50, 50, 0.74);
}

#form-content {
	margin-left: 20%;
	margin-right: 20%;
	padding-top: 10%;
	text-align: left;
	position: relative;
}

#villes, #circuits, #adultes, #enfants {
	display: none;
}

#submit {
	margin-bottom: 15%;
	background-color: #80b3ff;
	color: rgb(255, 255, 255);
	border-radius: 3px;
	font-size: 150%;
	cursor: pointer;
}

#submit:hover {
	background-color: #8585e0;
	border: 3px solid #8585e0;
}

* {
	font-family: 'Source sans Pro';
	font-size: 16px;
}

*:hover {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}